 body {
      position: relative; 
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
      border-radius: 0px !important;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

  .container-fluid-first {
    height: 150px !important;
    background-color: #4A424F !important;
    text-align: center;
  }

  #cauta_job {padding-top:50px;height:300px;color: #fff; background-color: #4A424F !important; text-align:center; float:left;}
  #posteaza_job {padding-top:50px;height:300px;color: #fff; background-color: #4A424F !important; text-align:center; float:left;}
  #functioneaza {padding-top:50px;height:300px;color: #fff; background-color: #4A424F !important; text-align:center; clear: both;}

  /* Set black background color, white text and some padding */
  footer {
    background-color: #222;
    color: white;
    padding: 15px;
  }

  #cauta_input {
    color: #000;
    height: 40px;
    width: 200px !important;
    padding: 5px !important;
  }

  .btn-group-lg > .btn, .btn-lg 
  {
    padding: 8px 16px !important;
  }